<!-- <div class="about-container">
  <h1>About Our Conference Management System</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nisi
    reiciendis quas fugit eaque laudantium autem quaerat quod sunt. Et tempora
    maiores cupiditate esse, consequatur voluptas dignissimos unde illo atque,
    cum a alias eveniet? Welcome to our Conference Management System! Our
    platform is designed to streamline the process of organizing, managing, and
    attending conferences. From submission and review of papers to scheduling
    and managing sessions, our system handles it all with ease and efficiency.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nisi
    reiciendis quas fugit eaque laudantium autem quaerat quod sunt. Et tempora
    maiores cupiditate esse, consequatur voluptas dignissimos unde illo atque,
    cum a alias eveniet? Welcome to our Conference Management System! Our
    platform is designed to streamline the process of organizing, managing, and
    attending conferences. From submission and review of papers to scheduling
    and managing sessions, our system handles it all with ease and efficiency.
  </p>
  <img
    src="../../assets/images/p-removebg-preview.png"
    alt="Conference Overview"
    class="about-image"
  />
  <h2>Key Features</h2>
  <ul>
    <li>
      <img
        src="../../assets/images/p-removebg-preview.png"
        alt="Paper Submission"
        class="feature-image"
      />
      <p>
        Paper Submission and Review: Authors can submit their papers and
        reviewers can provide feedback seamlessly.
      </p>
    </li>
    <li>
      <img
        src="../../assets/images/p-removebg-preview.png"
        alt="Session Management"
        class="feature-image"
      />
      <p>
        Session Management: Organize and manage conference sessions, including
        scheduling and speaker assignments.
      </p>
    </li>
    <li>
      <img
        src="../../assets/images/p-removebg-preview.png"
        alt="Registration"
        class="feature-image"
      />
      <p>
        Registration and Attendance: Handle attendee registrations and track
        attendance effortlessly.
      </p>
    </li>
    <li>
      <img
        src="../../assets/images/p-removebg-preview.png"
        alt="Notifications"
        class="feature-image"
      />
      <p>
        Notifications and Updates: Keep everyone informed with automated
        notifications and updates.
      </p>
    </li>
  </ul>
  <h2>Our Mission</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos qui
    necessitatibus rem maiores consequuntur. Voluptates quam neque optio iusto
    laborum sit, dolores reiciendis, nobis minima quibusdam incidunt modi
    voluptatem eligendi? Libero earum quasi officia a impedit culpa nemo
    voluptatem nulla, cum molestiae, labore praesentium totam exercitationem.
    Officiis mollitia explicabo, laudantium omnis debitis porro libero tempora
    dolores nihil. Aliquid at laborum, odio fuga molestiae, deserunt magni modi
    rem placeat distinctio, obcaecati quasi nesciunt quidem dolorem reiciendis
    exercitationem officiis temporibus ea deleniti nostrum? Sapiente modi illum
    dicta! Veritatis sunt ullam magni eveniet at a est aut rem saepe quis fuga
    rerum quibusdam fugit vel, autem nostrum harum, unde culpa? Totam similique
    consequatur laborum. Unde deserunt perspiciatis rerum a veritatis voluptas
    ratione debitis, id quis quaerat at impedit exercitationem perferendis modi
    laudantium laboriosam maiores delectus, quam magnam culpa dicta! Assumenda
    perspiciatis possimus temporibus illum ab architecto repellendus rem rerum
    eius impedit doloribus velit recusandae mollitia, culpa et esse numquam
    dolor, molestias dolorem nam quam placeat unde. Nostrum iure perferendis
    ratione. Ex tenetur cupiditate sequi veritatis voluptates mollitia, earum
    incidunt nostrum saepe! Ex quo repellendus earum magnam aut corrupti ullam
    vitae facilis, nihil fuga rem provident. Et facere reprehenderit, voluptates
    blanditiis ipsum laboriosam commodi! Our mission is to provide a
    comprehensive and user-friendly platform that enhances the conference
    experience for organizers, speakers, and attendees alike. We aim to
    facilitate knowledge sharing and networking in a seamless and efficient
    manner.
  </p>
  <img
    src="../../assets/images/p-removebg-preview.png"
    alt="Our Mission"
    class="about-image"
  />
  <h2>Contact Us</h2>
  <p id="last">
    If you have any questions or need support, please feel free to contact us
    at:
    <a href="k@gmail.com">k@gmail.com</a>.
  </p>
</div> -->
<!-- <div class="breadcrumb-agile bg-light py-2">
  <ol class="breadcrumb bg-light m-0">
    <li class="breadcrumb-item">
      <a href="index.php">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</div> -->
<!-- //page details -->
<!-- about -->
<section class="w3ls-bnrbtm py-5" id="about">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <h3 class="w3ls-title mb-3">About <span>Us</span></h3>
    </div>
    <div class="row">
      <div class="col-lg-6 pr-xl-5 mt-xl-2 mt-lg-0">
        <h3 class="title-sub mb-4">
          Lorem ipsum dolor sit.<br />Lorem, ipsum dolor.
        </h3>
        <p class="sub-para">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis
          repellendus sed consequatur error reiciendis. Nostrum pariatur eveniet
          ipsum blanditiis commodi! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Fugit distinctio at, et ea cum odit.
        </p>
        <p class="sub-para pt-4 mt-5 border-top">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in
          illo vitae assumenda. Eaque, cupiditate maxime a quidem excepturi non.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
          nemo nostrum quasi quo impedit.
        </p>
      </div>
      <div class="col-lg-6 text-center mt-lg-0 mt-4">
        <img
          src="../../assets/images/p-removebg-preview.png"
          alt="about"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- //about -->

<!-- services -->
<section class="middle py-5" id="services">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <!-- <p class="w3ls-title-sub">Our Work</p> -->
      <h3 class="w3ls-title mb-3">Excellent <span>Services</span></h3>
    </div>
    <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
      <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
        <div class="row">
          <div class="col-8 wthree_banner_bottom_grid_right text-right">
            <h4 class="mb-3"><a href="#">Free Shipping</a></h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              beatae, repellat iusto vero nihil adipisci id? Possimus odit earum
              tempore maxime? Aut nihil quam consequuntur velit soluta quo id
              minima nobis alias reprehenderit! Incidunt. Lorem ipsum dolor, sit
              amet consectetur adipisicing.
            </p>
          </div>
          <!-- <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center"
          >
            <img src="../../assets/images/p-removebg-preview.png" alt="" class="img-fluid" />
          </div> -->
        </div>
      </div>
      <div class="col-lg-2 w3pvt-lauits_banner_bottom_left"></div>
      <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
        <div class="row">
          <!-- <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center"
          >
            <img src="../../assets/images/p-removebg-preview.png" alt="" class="img-fluid" />
          </div> -->
          <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
            <h4 class="mb-3"><a href="#">Online Order</a></h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
              corrupti eos laborum, vero quibusdam quisquam mollitia sint
              dolore, hic placeat commodi eius tempore veniam voluptatem ducimus
              rem totam nulla nihil! Ad qui facilis ratione. Lorem ipsum dolor,
              sit amet consectetur adipisicing.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
      <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
        <div class="row">
          <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
            <h4 class="mb-3"><a href="#">Online Order</a></h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Reprehenderit dolor quas fugit, illum amet quisquam quaerat
              aspernatur asperiores, soluta nostrum ex aperiam quam expedita
              maxime. Aliquam doloribus inventore rerum quod recusandae libero
              ad dignissimos! Lorem ipsum dolor, sit amet consectetur
              adipisicing.
            </p>
          </div>
          <!-- <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0"
          >
           <img src="../../assets/images/p-removebg-preview.png" alt="" class="img-fluid" /> 
          </div> -->
        </div>
      </div>
      <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0"></div>
      <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
        <div class="row">
          <!-- <div
            class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0"
          >
            <img src="../../assets/images/p-removebg-preview.png" alt="" class="img-fluid" />
          </div> -->
          <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
            <h4 class="mb-3"><a href="#">Online Order</a></h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum,
              minima. A optio aut porro ut officiis. Quasi fugiat numquam,
              debitis ipsum culpa saepe deserunt voluptatum provident tempora.
              Voluptas reprehenderit unde quos quibusdam sint ab. Lorem ipsum
              dolor, sit amet consectetur adipisicing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="img-blog-2">
    <img src="images/img.png" alt="" class="img-fluid" />
  </div> -->
</section>
<!-- //services -->

<!-- team -->
<!-- <div class="team py-5" id="chefs">
  <div class="container-fluid py-xl-5 py-lg-3">
    <div class="title-section text-center mb-md-5 mb-4">
      <h3 class="w3ls-title mb-3">Our <span>Chefs</span></h3>
    </div>
    <div class="row team-bottom pt-4">
      <div class="col-lg-3 col-6 team-grid">
        <a href="#team"><img src="images/t1.png" class="img-fluid" alt="" /></a>
        <div class="caption">
          <div class="team-text">
            <h4><a href="#team">Mack Joe</a></h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-6 team-grid">
        <a href="#team"><img src="images/t2.png" class="img-fluid" alt="" /></a>
        <div class="caption">
          <div class="team-text">
            <h4><a href="#team">Cruz Deo</a></h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-6 team-grid mt-lg-0 mt-4">
        <a href="#team"><img src="images/t3.png" class="img-fluid" alt="" /></a>
        <div class="caption">
          <div class="team-text">
            <h4><a href="#team">Rochy Jae</a></h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-6 team-grid mt-lg-0 mt-4">
        <a href="#team"><img src="images/t4.png" class="img-fluid" alt="" /></a>
        <div class="caption">
          <div class="team-text">
            <h4><a href="#team">Rojo Poy</a></h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
