#light1 {
  color: white !important;
  font-style: italic;
  margin-top: 10px !important;
    margin-bottom: 0.4rem !important;
}
img {
  border-radius: 10px;
  display: block;
}
.conference-management-system p::first-letter {
  font-size: 1.5rem;
}
nav {
  position: relative;
  width: 100%;
}
#c{
  margin-top: 10px;
}

@media (max-width: 767px) {
  .conference-management-system p {
    font-size: 1rem;
  }
  .navbar-brand img {
    height: 35px; 
  }
}

